/*font faces */






/* style */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
.container {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

a {
    text-decoration: none;
    color: var(--Download);
}

.row {
    display: flex;
}
.column
{
    flex-direction: column;    
}
:root {
    --textLightGrey: rgba(155, 155, 155, 0.842);
    --Download: rgb(45, 197, 218);
}

.caps-lock {
    text-transform: uppercase;
}

.ele_1{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    grid-area: 1/1/2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ele_1 > img {
    width: 35%;
}
.ele_2{
    grid-area: 1/3/2/5;
    background-color: rgb(236, 236, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ele_3{
    grid-area: 2/1/3/2;
    background-color: rgba(255, 30, 0, 0.801);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ele_3 img {
    width: 60%
}
.ele_4{
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.ele_4 img {
    width: 35%;
}
.ele_4-bis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.ele_5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 2/4/4/5;
    background-color: #8f76bc;
}

.ele_5-bis {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #8166b0;
    border-radius: 50%;
    width: 10rem;
}
.ele_5 img {
    max-width: 100%;
    display: block;
}
.ele_6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: 3/1/4/2;
}
.ele_6 img {
    max-width: 50%;
}
.ele_7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    grid-area: 3/2/4/4;
    background-color:  #93b6b7;
}

.ele_7 img {
    display: block;
    margin-right: 11.5rem;
    justify-content: flex-end;
    max-width: 100%;
}
.ele_8,  .ele_8 span{
    grid-area: 4/1/5/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #38d5f4;
}
.ele_9{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: 4/2/5/3;
    background-color: rgb(236, 236, 236);
}

.ele_10{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    grid-area: 4/3/5/5;
    background-color: rgb(24, 24, 24);
}
.ele_10 img {
    max-width: 15%;
}

.ele_11{
    grid-area: 2/3/3/4;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}

/* text styles */

.text-11 {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-right: 10rem;
    color: var(--textLightGrey);
}

.baseline {
    color: var(--textLightGrey);
}


.a-download {
    border: 0px;
    background-color: transparent;
    color: var(--Download);
    font-weight: bold;
}

.a-download-bis {
    border: 0px;
    background-color: transparent;
    color: var(--Download);
    font-weight: bold;
    text-decoration: underline;
}
.cta-popular {
    background-color: #76c044;
    border: 0;
    color: white;
    border-radius: 20%
    ;
}